[defaults]
inventory           = /home/ansible/k8s-ansible/inventory/hosts.ini
remote_user         = ansible
host_key_checking   = False
stdout_callback     = yaml
forks               = 5
timeout             = 60
log_path            = /home/ansible/k8s-ansible/ansible.log

[privilege_escalation]
become              = True
become_method       = sudo
become_user         = root
become_ask_pass     = False

[ssh_connection]
pipelining          = True
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s
